{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
<h1>Author Details </h1>
<img src="{{asset(author.picture)}}" alt="{{author.username}}" height="150px" />
<p> <b> Username : </b> {{ author.username | upper }} </p>
<p> <b> Email : </b> {{ author.email}} </p>
<p> <b> Number of Books : </b> {{ author.nbBooks}} </p>
{% endblock %}