{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
<h1>Authors List </h1>
<a href="{{path('app_author_new')}}">Add Author</a>
<div>
{% if authors is defined and authors is not empty %}
<p>Tableau contient des données.</p>
{% else %}
<p>Tableau vide.</p>
{% endif %}
{% set nbBooks = 0 %}
{% for author in authors %}
{% set nbBooks = nbBooks + author.nbBooks %}
<img src="{{asset(author.picture)}}" alt="{{author.username}}" height="150px" />
<p> <b> Username : </b> {{ author.username | upper }} </p>
<p> <b> Email : </b> {{ author.email}} </p>
<p> <b> Number of Books : </b> {{ author.nbBooks}} </p>
<a href="{{path('app_author_details',{id: author.id})}}">Details<a/>
<a href="{{path('app_author_edit',{id: author.id})}}">Edit<a/>
<a href="{{path('app_author_remove',{id: author.id})}}">Delete<a/>
<hr>
{% else %}
<p>Le Tableau est vide.</p>
{% endfor %}

<p><b>Number of Authors: </b>{{ authors | length }}.</p>
<hr>
<p><b>Number of Books: </b>{{ nbBooks }}.</p>

</div>
{% endblock %}