{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<h1> Book Details </h1>
<p><b>Reference : </b> {{ book.ref }}  </p>
<p><b>Title : </b> {{ book.title | lower }}  </p>
<p><b>Category : </b> {{ book.category }}  </p> 
<p><b>Publication Date : </b> {{ book.publicationDate | date('d-m-Y') }}  </p>
<p><b> Published : </b> {{ book.enabled? 'Yes' : 'No' }} </p>
<p><b>Author : </b><a href="{{path('app_author_details',{id: book.author.id})}}"> {{ book.author.username }}<a/> </p>
<a href="{{path('app_book_list')}}">Return to List</a>
{% endblock %}
